<div class="app-content-header"> <!--begin::Container-->
    <div class="container-fluid"> <!--begin::Row-->
        <div class="row">
            <div class="col-sm-6">
                <h3 class="mb-0">Consultas Medicas</h3>
            </div>
            <div class="col-sm-6">

            </div>
        </div>
    </div>
</div>
<div class="app-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card mb-4">
                    <div class="card-header">
                        <h3 class="card-title">Seleccione una consulta medica</h3>
                        <div class="card-tools">

                        </div>
                    </div>
                    <div class="card-body p-0">
                        <table class="table">
                            <thead>
                            <tr>
                                <th style="width: 10px">#</th>
                                <th>Doctor</th>
                                <th>Paciente</th>
                                <th>Consulta</th>
                                <th>Tratamiento</th>
                                <th>Fecha</th>
                                <th>Opciones</th>
                            </tr>
                            </thead>
                            <tbody>
                                @for (medicalConsultation of medicalConsultations; track medicalConsultation.id; let i = $index) {
                                    <tr class="align-middle">
                                        <td>{{ medicalConsultation.id }}</td>
                                        <td>{{ medicalConsultation.doctorName }}</td>
                                        <td>{{ medicalConsultation.patientName }}</td>
                                        <td>{{ medicalConsultation.diagnostic }}</td>
                                        <td>{{ medicalConsultation.treatment }}</td>
                                        <td>{{ medicalConsultation.date  | date:"dd/MM/yyyy" }}</td>
                                        <td>
                                            <button type="button"  routerLink=""
                                                    class="btn btn-secondary mb-2">
                                                <i class="bi bi-pencil"></i>
                                            </button>
                                            <button type="button" class="btn btn-danger mb-2">
                                                <i class="bi bi bi-trash"></i>
                                            </button>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
